/* --- NAV ---*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid gray;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
}

nav a:hover {
    color: var(--green);
}

nav>div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    max-width: 75px;
}

/* --- iCONS --- */
.green-icon {
    background:var(--green);
    width:35px;
    height:35px;
    display: flex;
    justify-content: center;
    border-radius: 999px;
}

/* --- CONTAINERS --- */
.container-fluid {
    padding: 45px 0;
}

/* --- FORMAT --- */

.grid {
    display:grid;
    gap:15px;
}

.grid-3 {
    grid-template-columns: 2fr 1fr 1fr;
}

.grid-2 {
    grid-template-columns: 2fr 1fr;
}

.center-all {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.center-all>div {
    width: 100%;
}

.horizontal-inline {
    display: flex;
    align-items: center;
    gap: 25px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.border-radius-5 {
    border-radius:5px;
}

/* --- SIZING --- */

.small-max-width {
    max-width: 550px;
}

/* --- COLORS --- */
.white-bg {
    background:white;
    padding:25px;
}

.gray-bg {
    background: var(--gray);
    padding:25px;
}

/* --- LINKS ---*/
a {
    color: var(--green);
    transition: color 0.2s ease;
}

a:hover {
    color: white;
}

/* --- BUTTONS --- */
button {
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    padding: 7px 25px;
    border: none;
    border-radius: 5px;
}

.green-btn {
    background: var(--green);
    border: 2px solid var(--green);
    transition: all 0.2s ease;
}

.green-btn a {
    color: black;
    text-decoration: none;
    transition: all 0.2s ease;
}

.green-btn:hover a {
    color: var(--green);
}

.green-btn:hover {
    background: none;
    color: var(--green);
}

.outline-btn {
    background: black;
    border: 2px solid var(--green);
    transition: all 0.2s ease;
}

.outline-btn a {
    color: var(--green);
}

.outline-btn:hover {
    background: var(--green);
}

.outline-btn:hover a {
    color: black;
}

.link-btn {
    background: none;
    color: white;
    padding: 5px;
    text-decoration: underline;
    font-weight: 300;
    transition: all 0.2s ease;
}

.link-btn:hover {
    color: var(--green);
}

.accordion-btn {
    background:none;
    color: var(--green);
    padding:0;
    margin:0;
    transition: color 0.2s ease;
}

.accordion-btn:hover {
    color:white;
}

/* --- TYPOGRAPHY --- */
.green-text {
    color: var(--green);
}

.text-align-center {
    text-align: center;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    line-height: 1.1;
}

.l-text {
    font-size: 3rem;
}

.xl-text {
    font-size: 7rem;
}

@media screen and (max-width: 766px) {
    .xl-text {
        font-size: 5rem;
    }
}

.strong-text {
    font-weight:600;
}

/* --- FORMS --- */

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

form button {
    align-self: center;
}

form>div {
    display: flex;
    flex-direction: column;
}

input,
select {
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    padding: 8px;
    color: white;
}

.green-input input {
    border: 1px solid var(--green);
    border-radius: 5px;
}

/* --- TABLE ---*/
table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    font-weight: 700;
}

td,
th {
    text-align: start;
    padding: 15px 0;
    border-bottom: 1px solid rgb(72, 72, 72);
}

/* --- ERROR ---*/
.error-text {
    color: red;
}