/* --- NAV ---*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid gray;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
}

nav a:hover {
    color: var(--green);
}

nav>div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    max-width: 75px;
}

/* --- FORMAT --- */
.center-all {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.center-all>div {
    width: 100%;
}

/* --- SIZING --- */

.small-max-width {
    max-width: 750px;
}

/* --- LINKS ---*/
a {
    color: var(--green);
    transition: color 0.2s ease;
}

a:hover {
    color: white;
}

/* --- BUTTONS --- */
button {
    cursor: pointer;
    font-size: 15px;
    padding: 7px 30px;
    border: none;
    border-radius: 5px;
}

.green-btn {
    background: var(--green);
    border: 2px solid var(--green);
    transition: all 0.2s ease;
}

.green-btn:hover {
    background: none;
    color: var(--green);
}

.outline-btn {
    background: black;
    border: 2px solid var(--green);
    transition: all 0.2s ease;
}

.outline-btn a {
    color: var(--green);
}

.outline-btn:hover {
    background: var(--green);
}

.outline-btn a:hover {
    color:black;
}

/* --- TYPOGRAPHY --- */
.green-text {
    color: var(--green);
}

.text-align-center {
    text-align: center;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    line-height: 1.1;
}

.l-text {
    font-size: 3rem;
}

.xl-text {
    font-size: 7rem;
}

@media screen and (max-width: 766px) {
    .xl-text {
        font-size: 5rem;
    }
}

/* --- FORMS --- */

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form button {
    align-self: center;
}

input {
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    padding: 8px;
    color: white;
}

/* --- TABLE ---*/
table {
    border-collapse: collapse;
}

thead {
    font-weight: 700;
}

td {
    padding: 15px;
    border: 1px solid lightgray;
}

/* --- ERROR ---*/
.error-text {
    color: red;
}